<!DOCTYPE html>
<html>
<head>
  <title>Rails First App</title>
  <link rel="stylesheet" href="../sass/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>

  <article>

    <%= yield %>

    <%= render 'layouts/extra_section' %>

    <%= render 'layouts/posts' %>

  </article>

  <%= render 'layouts/footer' %>

</body>
</html>
